In [5]:
import requests
import pandas as pd
import pyodbc
import os
from sqlalchemy import create_engine

In [6]:
df=pd.read_csv("Shippo_Address_Coeff.csv")

In [7]:
df.head()

    Id        Name      Code  Coefficient
0  525      Quận 2  VN.HC.QB            2
1   11     Ba Đình  VN.HI.BD            2
2   19      Tây Hồ  VN.HI.TH            2
3   20  Thanh Xuân  VN.HI.TX            2
4  521      Quận 1  VN.HC.QA            2

In [11]:
con_str = 'mssql+pyodbc://' + os.environ['DB_USER'] + ':' + os.environ['DB_PWD'] + '@' + os.environ['DB_SERVER']+':' + os.environ['DB_PORT'] + '/' + os.environ['DB_NAME'] + '?driver=' + '+'.join(os.environ['DB_DRIVER'].split(' '))
con = create_engine(con_str)

In [12]:
df.to_sql('Shippo_Coeff', con, if_exists='append', index = False)

In [13]:
#SELECT * FROM INFORMATION_SCHEMA.TABLES
result = con.execute("""SELECT * FROM master.dbo.Shippo_Coeff""")
data=pd.DataFrame(result)
data.columns = result.keys()
data.head()

    Id        Name      Code  Coefficient
0  525      Qu?n 2  VN.HC.QB            2
1   11     Ba Ðình  VN.HI.BD            2
2   19      Tây H?  VN.HI.TH            2
3   20  Thanh Xuân  VN.HI.TX            2
4  521      Qu?n 1  VN.HC.QA            2